DATABASE_URL='postgresql://usr:pass@localhost:5432/my_db'
TEST_DB_URI='postgresql://usr:pass@localhost:5432/my_test_db'
ENV='development'
JWT_SECRET_KEY='jwt-secret-key'
JWT_BLACKLIST_ENABLED=True
JWT_BLACKLIST_TOKEN_CHECKS=['access', 'refresh']
FLASK_APP='app.py'
PYTHONPATH=${PYTHONPATH}:${PWD}